
.hero-heading{
    font-size: 50px;
    font-weight: bolder;
}

.us-content{
    padding: 50px 100px 0px 100px;

}
.icon-box{
    background-color: white;
    padding:50px 0px 50px 20px;
}

.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 304px;
  }
  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 304px;
  }
  .gmap_iframe {
    height: 304px !important;
  }

  .navbar{
  }
  .fa-solid{
    font-size: 40px;
  }